<!DOCTYPE html>
<html>

<head>
    <title>Index Racer</title>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="description" content="IndexRacer: SCCA Solo RTP PAX Calculator Compare your time against competitors' RTP PAX times." />
    <meta name="keywords" content="SCCA,Solo,Solo2,Autocross,AutoX,RTP,PAX,Idx,Index,Calculator,Calc,Compare,Times" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="racestyle.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>

<body ng-app="myApp">
    <div class="header"><img src="name.jpg" id="logo">
    </div>
    <div class="container">
    	<section class="row">
    		<main class="main col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    			<section class="row">
			        <article class="col-xs-12">
		        		<h1>SCCA RTP Calculator</h1>
		        	</article>
		        </section>
		        <form id="cat">
		        	<section class="row" ng-controller="IndexCtrl">
			        	<article id="userinputs" class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
				            <h2>Your SCCA Class Category:</h2>
				            <div>
						        <select id="category" ng-model="classes" ng-options="category for (category, classes) in categories">
						          <option value=''>Select</option>
						        </select>
						    </div>

				            <h2>Your SCCA Class:</h2>
				        <div>
					        <select id="class" ng-disabled="!classes" ng-model="index" ng-options="class for (class, index) in classes"><option value=''>Select</option></select>
					    </div>
					    <div>
					        Index: <span id="index">{{ index }}</span>        
					    </div>
				            
				            <h2>Your time:<span class="note"><br />(if you've run)</span></h2>
				            <input ng-disabled="!index" ng-model="indexedTime" type="text" id="time" name="Run Time" default="your race time">
					    </article>
			        	<article id="compinputs" class="col-xs-12 col-sm-6 col-md-5" ng-show="comp">
				            <h2>Competitor's Class Category:</h2>
				            <div>
						        <select id="comp_category" ng-model="comp_classes" ng-options="comp_category for (comp_category, comp_classes) in categories">
						          <option value=''>Select</option>
						        </select>
						    </div>
						    <h2>Competitor's SCCA Class:</h2>
					        <div>
						        <select id="comp_class" ng-disabled="!comp_classes" ng-model="comp_index" ng-options="comp_class for (comp_class, comp_index) in comp_classes"><option value=''>Select</option></select>
						    </div>
						    <div>
						        Index: <span id="comp_index">{{ comp_index }}</span>        
						    </div>
					            
					            <h2>Competitor'a time:<span class="note"><br />(if they've run)</span></h2>
					            <input type="text" id="time" name="Run Time" default="your race time"ng-disabled="!comp_index" ng-model="comp_index_time">

				        </article>
				    </section>
				    <section class="row">
				        <article class="col-xs-12" id="compare">
				            <button type="button" ng-click="comp=true">Compare to Another Racer</button><br>
				            
				            <!-- <button type="button" class="see-equiv">Compare to All Classes</button> -->
				        </article>
				    </section>
		        </form>
		        <section class="row">
			        <article id="results" class="col-xs-12">
<!-- 				        <h2 class="result">Results</h2>
				        <p id="resultComment">&nbsp;</p>
 -->				        <button type="button" class="see-equiv">Compare to All Classes</button>
			        </article>
			    </section>
	        </main>
	    </section>
    
    
    	<!-- <section class="row">
    		<main class="main2 col-xs-8 col-xs-offset-2">

	        <h2>Your Time Equivalents</h2>

	        <div class="row">
	        
		        <div id="index_table" class="col-xs-12 col-md-6">
		        
		        </div>
	        
		        <div id="index_table2" class="col-xs-12 col-md-6">
		            
		        </div>
	        </main>
        </section> -->
    </div>
      
	<script src="./MainControl.js"></script>  
<!--     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script type='text/javascript' src="theScript.js"></script> --> 
    <script>

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-59521615-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
