<!DOCTYPE html>
<html>

<head>
    <title>Index Racer</title>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="description" content="IndexRacer: SCCA Solo RTP PAX Calculator Compare your time against competitors' RTP PAX times." />
    <meta name="keywords" content="SCCA,Solo,Solo2,Autocross,AutoX,RTP,PAX,Idx,Index,Calculator,Calc,Compare,Times" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="racestyle.css">
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src = "http:/ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script src ="controllers/MainController.js"></script>
</head>

<body ng-app = "racerApp" ng-controller = "SoloCtrl" class="container-fluid">
    <div class="header row"><img src="name.jpg" id="logo">
    </div>

    <section class="row">
        <main class="main col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
            <section class="row">
                <article class="col-xs-12">
                    <h1>SCCA RTP Calculator</h1>
                </article>
            </section>
            <form id="cat">
                <section class="row">
                    <article id="userinputs" class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                        <h2>Your SCCA Class Category:</h2>
                            <select ng-model="selectedCat" ng-options="cat for (cat, class) in categories" ng-change="clearSubVals()">
                                <option value="" class="placeholder" disabled selected> Your Category </option>
                            </select>
                        <h2>Your SCCA Class:</h2>
                            <select ng-model='selectedClass' ng-options="class for (class, index) in selectedCat">
                                <option value="" class="placeholder" disabled selected> Your Class </option>
                            </select>
                        <p id="cl_num" class="note">Index number: <span ng-cloak>{{selectedClass}}</span></p>
                        
                        <h2>Enter your time:<span class="note"><br />(if you've run)</span></h2>
                        <input ng-disabled='!selectedClass' ng-model="myTime" type="text" id="time" name="Run Time" default="your race time">
                        <br>
                        <button type="button" ng-click="clearVals()">Clear</button>
                    </article>
                    <article id="compinputs" class="col-xs-12 col-sm-6 col-md-5" ng-show="viewComp" ng-cloak>
                        <h2>Competitor's Class Category:</h2>
                        <select ng-model="selectedCompCat" ng-options="cat for (cat, class) in categories">
                            <option value="" class="placeholder" disabled selected> Category </option>              
                        </select>
                        <h2>Competitor's SCCA Class:</h2>
                        <select ng-model='selectedCompClass' ng-options="class for (class, index) in selectedCompCat">
                            <option value="" class="placeholder" disabled selected> Class </option>              
                        </select>
                        <p id="comp_num" class="note">Index number: {{selectedCompClass}}</p>
                        
                        <h2>Competitor's time:<span class="note"><br />(if he/she has run)</span></h2>
                        <input ng-disabled='!selectedCompClass' ng-model="compTime" type="text" id="comp_time" name="Run Time:" disabled="true">
                        <br>
                        <button type="button" ng-click="clearCompVals()">Clear</button>
                        <button type="button" ng-click="changeViewComp()">Hide Comparison</button>
                    </article>
                </section>
                <section class="row">
                    <article class="col-xs-12" id="compare">
                        <button type="button" ng-click="changeViewComp()" ng-show="!viewComp">Compare to Another Racer</button><br>
                    </article>
                </section>
            </form>
            <section class="row">
                <article ng-show="(myTime && selectedCompClass) || (compTime && selectedClass)" id="results" ng-cloak class="col-xs-12">
                    <h2 class="result">Results</h2>
                    <p id="resultComment">{{results}}</p>
                </article>
            </section>
        </main>
    </section>
    <section class="row" ng-show="myTime">
        <main class="main2 col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
        <h2>Your Time Equivalents</h2>
        <div class="row">
            <div id="index_table" class="col-xs-12 col-md-6" ng-repeat="(class, index) in selectedCat">{{ class }}: {{ index }}
            </div>

        </main>
    </section>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-59521615-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
