[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

body {
    background-image: url("static/trackbackground.jpg");
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 12px;
}

h1 {
    background-color: #FFFFFF;
    padding: 0px 5px 0px 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 4px;
}


h2 {
    font-size: 15px;
    padding-top: 8px;
}

h3 {
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
}

.center {
    text-align: center;
    margin: auto;
}

div.header {
    background-image: url("static/tracks.jpg");
    height: 80px;
    padding: 20px 0px 100px 0px;
    vertical-align: top;
}

button {
    /*font-weight: bold;*/
    box-shadow: 2px 2px 2px #888888;
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 5px 0px;
    font-size: 11px;
    border: 2px solid white;
    background-color: #ffff66;
    border-radius: 4px;
    }

.placeholder {
    color: gray;
    font-style: italic;
}

#resultComment{
    background-color: #FFFFFF;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    border: solid orange;
}

h2.cozy {
    padding-top: 0px;
    margin-top: 0px;
}
@media (min-width: 550px) {
   .main {
        background-color: #CCCCCC;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #888888;
        min-height: 500px;
    }
    #logo {
        float: right;
        vertical-align: top;
    }

    #userinputs {
        float: left;
        text-align: left;
        padding-left: 20px;
    }

    #compinputs {
        float: right;
        text-align: left;
        padding-left: 20px;
    }

/*    #compare {
        position: absolute;
        bottom: 10px;
        height: 40px;
        left: auto;
        right: auto;
        text-align: center;
    }*/

    .main2 {
        background-color: #F2F2F2;
        padding: 20px 50px 0px 50px;
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #888888;
        min-height: 450px;
        text-align: center;
        font-size: 10px;
    }
    #resultComment{
        width: 350px;
        height: 34px;
    }

    h2.result {
        text-align: center;
    }
}


@media (max-width: 550px) {

  .main {
        background-color: #CCCCCC;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #888888;

  }
    #logo {
        float: right;
        vertical-align: top;
        width: 150px;
    }
    .main2 {
        background-color: #F2F2F2;
        font-size: 10px;
        padding: 0px 20px 0px 20px;
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #888888;
        min-height: 600px;
        position: relative;
        text-align: center;
    }

   h1 {
        background-color: #FFFFFF;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-right: auto;
        border-radius: 4px;
        font-size: 20px;
        }
    h2.result {
        text-align: left;
        padding: 10px 0px 0px 10px;
    }
   #userinputs #compinputs{
        text-align: left;
        padding-left: 30px;
    }

    #index_table {
        float: left;
        padding-right: 20px;
    }


    #resultComment{
        width: 200px;
        height: 40px;
    }

    button {
        margin-top: 10px;
        margin-bottom: 3px;
    }

}

.see-equiv {
        margin-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

#cat {
    text-align: center;
}

.note {
    font-size: 10px;
    font-style: italic;
    font-weight: 100;
}
