body {
    background-image: url("trackbackground.jpg");
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 12px;
}



.guts {
    align-content: center;
    position: relative;
    border: 4px solid blue;
}

 

h1 {
    background-color: #FFFFFF;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-right: auto;
    border-radius: 4px;
}


h2 {
    font-size: 15px;
    padding: 10px 0px 0px 0px;
}

div.header {
    background-image: url("tracks.jpg");
    height: 80px;
    padding: 20px;
    vertical-align: top;
}


#add-comp {
    font-weight: bold;
    box-shadow: 2px 2px 2px #888888;
    padding: 5px 15px 5px 15px;
    font-size: 15px;
    border: 2px solid gray;
    background-color: #ffff66;
    border-radius: 4px;
    }


@media (min-width: 400px) {
   .main {
        background-color: #CCCCCC;
        padding: 20px 20px 0px 20px;
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #888888;
        min-width: 550px;
        min-height: 450px;
        position: relative;
    }
    #logo {
        float: right;
        vertical-align: top;
    }
    #final {
        position: absolute;
        bottom: 40px;
        height: 72px;
        width: 550px;
        left: auto;
        right: auto;
        text-align: center;
        padding-top: 0px;
        
    }
    .col1 {
        float: left;
        text-align: left;
        padding: 10px;
    }

    #compare {
        padding-top: 10%;
        display: inline-block;
    }


    .col2 {
        float: right;
        text-align: left;
        padding: 10px;
    }
    .main2 {
        background-color: #F2F2F2;
        padding: 20px 50px 0px 50px;
        width: 20%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #888888;
        min-width: 200px;
        min-height: 450px;
        position: relative;
        text-align: center;
        font-size: 10px;
    }
    #resultComment{
        background-color: #FFFFFF;
        padding: 5px;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-radius: 4px;
        font-size: 12px;
        border: solid orange;
}
}

    
@media (max-width: 400px) {
  .main {
        background-color: #CCCCCC;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #888888;
        width: 95%;
        min-width: 250px;
        
  }
    #logo {
        float: right;
        vertical-align: top;
        width: 150px;
    }
    .main2 {
        background-color: #F2F2F2;
        font-size: 10px;
        padding: 0px 20px 0px 20px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #888888;
        width: 80%;
        min-width: 200px;
        min-height: 600px;
        position: relative;
        text-align: center;
    }
    
   h1 {
        background-color: #FFFFFF;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-right: auto;
        border-radius: 4px;
        font-size: 18px;
        }
   .col1 {
        text-align: left;
        float: none;
        padding-left: 20px;
    }
    #compare {
        padding-top: 10%;
        display: block;
    }
   .col2{
        text-align: left;
        float: none;
        padding-left: 20px;
    }
    #index_table {
        float: left
    }
    #index_table2{
        float:right;
        padding-right: 20px;
    }
    #final {
        float: none;
        text-align: left;
        padding-left: 20px;
    }
    #resultComment{
        background-color: #FFFFFF;
        padding: 5px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-right: auto;
        border-radius: 4px;
        font-size: 12px;
        border: solid orange;
}
}
#cat {
    text-align: center;
}

.note {
    font-size: 10px;
    font-style: italic;
    font-weight: 100;
}


